<%= form_with(model: user, local: true) do |f| %>
    <% if user.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(user.errors.count, "エラー") %>が発生しました。</h2>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-control", placeholder: "例: 山田 太郎" %>
    </div>
  
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control", placeholder: "例: example@example.com" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control", placeholder: "6文字以上のパスワード" %>
    </div>
  
    <div class="form-group">
      <%= f.submit "登録", class: "btn btn-primary" %>
    </div>
  <% end %>
  