<h2>お問い合わせ</h2>

<エラーメッセージの表示 -->
<%= render "shared/error_messages", resource: @contact %>


<%= form_with model: @contact, url: contact_path, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name, "お名前" %>
    <%= f.text_field :name, class: "form-control", required: true, placeholder: "例: 山田 太郎" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-control", required: true, placeholder: "例: example@example.com" %>
  </div>
  <div class="mb-3">
    <%= f.label :message, "お問い合わせ内容" %>
    <%= f.text_area :message, class: "form-control", required: true, placeholder: "お問い合わせ内容を入力してください。"  %>
  </div>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>

