<div class="container">
  <h2>見積回答 (オファー)</h2>

  <p>見積依頼内容を以下に記載し、送信ボタンを押してください。</p>

   <%= form_with model: [@buyer_request, @seller_offer], url: buyer_request_seller_offers_path(@buyer_request), local: true do |f| %>
    <%= f.hidden_field :buyer_request_id, value: @buyer_request.id %>  
    <div class="mb-3">
      <label class="form-label">見積依頼ID</label>
      <input type="text" class="form-control" value="<%= @buyer_request.id %>" readonly>
    </div>

    <div class="mb-3">
      <label class="form-label">商品名</label>
      <input type="text" class="form-control" value="<%= @buyer_request.product_name %>" readonly>
    </div>

    <div class="mb-3">
      <label class="form-label">数量</label>
      <input type="text" class="form-control" value="<%= @buyer_request.quantity %>" readonly>
    </div>

    <div class="mb-3">
      <label class="form-label">納入先</label>
      <input type="text" class="form-control" value="<%= @buyer_request.delivery_address %>" readonly>
    </div>

    <div class="mb-3">
      <label class="form-label">希望納期</label>
      <input type="text" class="form-control" value="<%= @buyer_request.delivery_date %>" readonly>
    </div>

    <div class="mb-3">
      <%= f.label :price, "見積価格 (円)" %>
      <%= f.number_field :price, class: "form-control", required: true, placeholder: "金額を入力して下さい。"%>
    </div>

    <div class="mb-3">
      <%= f.label :delivery_date, "納期" %>
      <%= f.date_field :delivery_date, class: "form-control", required: true, placeholder: "納期を入力して下さい。" %>
    </div>

    <%= f.hidden_field :buyer_request_id, value: @buyer_request.id %>

    <%= f.submit "送信", class: "btn btn-primary" %>
  <% end %>
</div>
