<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to "【B-TRADE MENU画面】", menu_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "【B-TRADE MENU画面】", new_user_session_path, class: "navbar-brand" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "お問い合わせ", contact_path, class: "nav-link" %>
          </li>

          <% if current_user&.is_admin? %>
            <li class="nav-item">
              <%= link_to "管理者ページ", admin_users_path, class: "nav-link btn btn-danger text-white d-block" %>
            </li>
          <% end %>

          <% unless (controller_name == "home" && action_name == "index") || (controller_name == "sessions" && action_name == "new") %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary ms-2" %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

