<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Graduate App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

  </head>

  <body>
   <%= render "layouts/navbar" %>
   <div class="container mt-4">
     <%= yield %>
   </div>

  <% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to "管理者ページ", admin_users_path, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "マイページ", user_profile_path(current_user), class: "btn btn-primary" %>
  <% end %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
  <% end %>

    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">B-TRADE</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <main class="container mt-4">
      <%= yield %>
    </main>
  </body>
</html>
