<div class="container text-center mt-5">
  <div class="card shadow-lg p-4">
    <h2 class="text-center">ユーザー登録が完了しました。</h2>

    <div class="mt-4">
      <%= link_to "ホームへ戻る", root_path, class: "btn btn-primary me-3" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <footer class="mt-4 text-center">
    <div class="d-flex justify-content-center">
      <%= link_to "サイトマップ", class: "me-3" %>
      <%= link_to "ご利用にあたって", class: "me-3" %>
      <%= link_to "お問い合わせ" %>
    </div>
    <p class="mt-2">&copy; 2025 NISSAN</p>
  </footer>
</div>